body {
	font-family: Helvetica, Arial, Sans-Serif;
	color: black;
	background: whitesmoke;
}

header {
	padding-left: 10%;
}

button {
}

p {
	margin:0px;
}

.cursive {
	font-family: 'Over the Rainbow', cursive;
}

.text-right {
	text-align: right;
}

.display {
	width: 75%;
	margin:50px auto;
}

#new-task-field{
	padding:10px;
	border: 1px solid #A3A3A3;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
}

.items{
	padding:10px;
	background: white;
	color:#808080;
}

.item-text {
	font-size: 120%;
	color: white;
}

.meta-data{
	color:#aaaaaa;
	font-size:small;
	font-style:italic;
}

#unfinished, #finished{
	margin:0;
	padding: 20px 20px;
	background:#404040;
	color:#eeeeee;
}

#unfinished li:first-child, #finished li:first-child {
	min-width: 50%;
}

.actions{
	float:right;
}

button{
	margin:0px;
	border:none;
}

.delete{
	background: whitesmoke;
}

.complete{
	background: #ADEAEA;
}

#add-item{
	background:#6060ff;
	padding:10px 20px 10px 20px;
}

.delete:hover{
	background: gray;
}

.complete:hover{
	background: #5F9F9F;
}

#add-item:hover{
	background: #4040ff;
}

.task-info li {
	display: inline-block;
}

ul {
	list-style-type: none;
	color: white;
}

li {
	margin:5px;
}

h3{
	color:#404040;
}
