body, input, button {
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
	padding: 0;
}

div#header {
	/*border: 1px solid red;*/
	text-align: center;
}

div#header h1 {
	font-size: 60px;
	margin: 25px 0;
}

div#new-task-field {
	/*border: 1px solid blue;*/
	text-align: center;
	padding: 20px 0 30px 0;
}

span#new-thing-label {
	font-size: 30px;
	margin: 0px 20px;
}

input#new-thing-input {
	font-size: 20px;
	margin: 0px 20px;
}

input#new-thing-button {
	font-size: 20px;
	margin: 0px 20px;
}

div#container {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	/*position: relative;*/
	/*border: 1px solid purple;*/
	min-height: 300px;
	/*text-align: center;*/
}

div div.half-container {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 10px 30px;
	width: 50%;
}

div div div.half-container-2 {
	margin: 0 auto;
}

div div#left {
	float: left;
}

div div#right {
	float: right;
}

h2.half-header {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h3.half-slogan {
	font-size: 24px;
	font-weight: normal;
	font-style: italic;
	margin: 0;
	padding: 0;
	color: gray;
}

ul.list-of-items{
	/*border: 1px solid red;*/
	font-size: 20px;
	margin: 10px 0;
}

ul li.item{
	list-style: normal;
	margin: 6px 0;
}

ul li span.item-text {
	margin-right: 4px;
}

ul li button {
	margin: 0 2px;
}
