body{
	font-family: Helvetica, Arial, Sans-Serif;
	background:#4B0082;
	color:#808080;
}

#container{
	width:1000px;
	margin:auto;
}

p{
	margin:0px;
}

#new-task-field{
	padding:10px;
	border:none;
	width:789px;
	margin:0 0 0 45px;
}

#unfinished, #finished{
	margin:10px 0 10px 0;
	padding:10px 40px 10px 10px;
	background:#404040;
	color:#eeeeee;
}

#unfinished li{
	list-style-type: none;
}

#finished li {
	color:#aaaaaa;
	list-style-type: none;
}

.button{
	margin:0px;
	border:none;
}

.delete-button{
	background:#eecccc;
}

.complete-button{
	background:#eeeeee;
}

#add-item{
	background:#6060ff;
	padding:10px 20px 10px 20px;
}

.delete-button:hover{
	background:#ff6060;
}

.complete-button:hover{
	background:#80ff80;
}

.add-item:hover{
	background:#4040ff;
}

li{
	margin:5px;
}

/*h3{
	color:#404040;
}*/

/*.items{
	padding:10px;
	background: white;
	color:#808080;
}

.meta-data{
	color:#aaaaaa;
	font-size:small;
	font-style:italic;
}*/

/*.actions{
	float:right;
}*/
