body {
	background-color: #ECF0F1;
}

#taskField {
	padding-left: 12px;
	width: 50%;
	display: inline-block;
}

ul#unfinishedList, ul#finishedList {
	-webkit-padding-start: 0px; /* I have no idea what this is but Chrome was throwing it in */
}

li {
	padding-left: 5px;
	height: 40px;
	list-style-type: none;
}

#submitNew {
	display: inline-block;
}

.sort {
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	color: #D35400;
}

h4 {
	margin-bottom: 8px;
}

#unfinished, #finished {
	padding-left: 0px;
}

p {
	width: 70%;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 0px;
}

.complete, .delete {
	margin-right: 2px;
	width: 32px;
	height: 32px;
}

.meta-data {
	font-size: smaller;
	color: #3498DB;
	margin-left: 10px;
	margin-right: 25px;
	float: right;
}
