<div class='view_container'>
  <h1>To-Do List</h1>
  <div class='panel-body'>
    <h3>Incomplete</h3>
    <table id='incomplete-tasks'>
      <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Complete</th>
        <th>Delete</th>
      </tr>
      <!-- Incomplete/New Tasks Go Here -->
    </table>
  </div>

  <div class='panel-body'>
    <h3>Complete</h3>
    <table id='complete-tasks'>
      <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Completed</th>
        <th>Delete</th>
      </tr>
      <!-- Completed Tasks Go Here -->
    </table>
  </div>

  <div class='input .input-group'>
    <form id='todo-input'>
      <input type="text" placeholder="Enter a New Task" id='todo-field'></input>
    </form>
  </div>
</div>
