

<div class="to-do-application">

  <h1>To-Do List</h1>

  <div class="finished-items">
  	<p>Finished Items</p>
    <ul id='finished-to-dos' class='text-left'>
      <li><li>
    </ul>
  </div>

  <div class="unfinished-items">
  	<p>Unfinished Items</p>
    <ul id='unfinished-to-dos' class='text-left'>
      <li></li>
    </ul>
  </div>

  <div class="submission-form">
  	<h2>Add new item</h2>
  	<form id="new-item">
  		<input type="text" value="Add a new to-do" id="to-do-field"></input>
  		<input type="button" name="Create" value="#submit#"><input>
  	</form>
  </div>

</div>
