<h1>ToDo'r</h1>
<hr>
<h2>Unfinished</h2>

<!-- main unfinished list -->
<ul id="unfinished">

  <li class="task-wrapper">
    <!-- task attrs -->
    <ul class="task">
      <li class="title"><strong>Go shopping for noms</strong></li>
      <li class="created-at">Created at: 5/15/2014</li>
      <li class="make-complete"><a href="#">Complete</a></li>
    </ul>
    <!-- task attrs -->
  </li>

  <li class="task-wrapper">
    <!-- task attrs -->
    <ul class="task">
      <li class="title"><strong>Give Sarah's bunny some pets</strong></li>
      <li class="created-at">Created at: 5/27/2014</li>
      <li class="make-complete"><a href="#">Complete</a></li>
    </ul>
    <!-- /task attrs -->
  </li>

</ul>
<!-- /main unfinished list -->

<hr>

<h2>Completed!</h2>

<!-- main completed list -->
<ul id="completed">

  <li class="task-wrapper">
    <!-- task attrs -->
    <ul class="task">
      <li class="title"><strong>Call Gramanda</strong></li>
      <li class="created-at">Created at: 5/22/2014</li>
      <li class="completed-at">Completed at: 5/28/2014</li>
    </ul>
    <!-- task attrs -->
  </li>

</ul> <!-- /main completed list -->
