<h1>To-Do List</h1>

<form id= "item-form">
  <input type="text" name="" placeholder="add a new to-do item" id="item-text">
  <input type="submit" value="add item" id="item-submit">
</form>

<div class="row">
  <div class="col-md-6">
    <h3>unfinished items</h3>
    <table class="list" id="unfinished-items">
    </table>
  </div>

  <div class="col-md-6">
    <h3>finished items</h3>
    <table class="list" id="finished-items">
    </table>
  </div>
</div>
