<h1>To-Do List</h1>
<p>Add your own markup here!</p>

<form id="clara-has-a-form">
  <input type="text" placeholder="Add a task" id="to-do-field">
  <input type="submit" value="do it!">
</form>

<ul class="to-do-list">
</ul>

<ul class="finished-things-list">
</ul>
