<h1>To-Do List</h1>

<form id="to-do-form">
  <input type="text" placeholder="Add a task" id="to-do-field" class="form-control">
  <input type="submit" value="do it!" >
</form>

<div class="row">
<div class="col-sm-6 to-do list-holder">
<h2>To do:</h2>
<div class="sort-buttons">
  <p>Sort by:</p>
  <button class="sort-by-name" id="sort-todo-by-name">Name</button>
  <button class="sort-by-date" id="sort-todo-by-date">Date</button>
</div>
<ul class="to-do-list">
</ul>
</div>

<div class="col-sm-6 finished-things list-holder">
<h2>Done!</h2>
<div class="sort-buttons">
  <p>Sort by:</p>
  <button class="sort-by-name">Name</button>
  <button class="sort-by-date">Date</button>
</div>
<ul class="finished-things-list">
</ul>
</div>
</div>
