<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>To-Do List</h1>
      <input type="text" id="new-todo" placeholder="What would you like to do?" autofocus>
      <button id="todo-submit">Create</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span>Total To-dos: </span>
      <span id="todo-counter"></span> |
      <span><a href="#" id="sort-alpha">Sort by Title</a> |
        <a href="#" id="sort-created">Sort by Creation Date</a> |
        <a href="#" id="sort-completed">Sort by Completed Date</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div>
          <span>Active: </span>
          <span id="todo-active-counter"></span>
        </div>
        <ul id="todo-active-list"></ul>
      </div>
      <div class="col-xs-6">
        <div>
          <span>Completed: </span>
          <span id="todo-completed-counter"></span>
        </div>
        <ul id="todo-completed-list"></ul>
      </div>
    </div>
  </div>
