<h1>To-Do List</h1>

<h2>Finished Items</h2>
  <ul id='finished-list' class='text-left'>
    <li>5/29/2014 - 6:00pm
    | first finished item(test)
    | <a href="#" class="btn btn-small btn-default" id='delete-item-button'>Delete</a>
    </li>
  </ul>

<h2>Unfinished Items</h2>
    <ul id='unfinished-list' class='text-left'>
    <li>5/29/2014 - 5:00pm
    | first unfinished item(test)
    | <a href="#" class="btn btn-small btn-default" id='complete-item-button'>Complete</a>
    | <a href="#" class="btn btn-small btn-default" id='delete-item-button'>Delete</a>
    </li>
  </ul>

<form id='new-item-form'>
  <input type="text" placeholder="Type next item here" id='new-item'></input>
  <a href="#" class="btn btn-lg btn-default" id='create-new-item-button'>Create</a>
</form>

