<h1>ToDo'r</h1>
<h2>Add New Task</h2>
<form id="task-input">
  <input type="text" placeholder="New task" id="task-field"></input><br>
  <input type="submit" name="new-task" value="Add To List" />
</form>
<hr>
<h2>Unfinished</h2>

<!-- main unfinished list -->
<ul id="unfinished">

    <!-- task attrs -->
    <li class="task">
      <p class="title"><strong>Go shopping for noms</strong></p>
      <p class="created-at">Created: 5/15/2014</p>
      <p class="make-complete"><a href="#">Complete Task</a></p>
    </li>
    <!-- task attrs -->
  </li>

    <!-- task attrs -->
    <li class="task">
      <p class="title"><strong>Give Sarah's bunny some pets</strong></p>
      <p class="created-at">Created: 5/27/2014</p>
      <p class="make-complete"><a href="#">Complete Task</a></p>
    </li>
    <!-- /task attrs -->
  </li>

</ul>
<!-- /main unfinished list -->

<hr>

<h2>Completed!</h2>

<!-- main completed list -->
<ul id="completed">

    <!-- task attrs -->
    <li class="task">
      <p class="title"><strong>Call Gramanda</strong></p>
      <p class="created-at">Created: 5/22/2014</p>
      <p class="completed-at">Completed at: 5/28/2014</p>
    </li>
    <!-- task attrs -->
  </li>

</ul> <!-- /main completed list -->
