<h1>To-Do List</h1>

<div class= 'container'>
  <dix class="row">
    <div class="col-md-6">
      <h2>Todo</h2>

      <ul class="todo-list">
        <li>unfinished</li>
      </ul>

      <form role="form" id="todo-field">
        <div class="form-group">
          <label for="new-todo"><b>New Todo</b></label>
          <input type="text" class="form-control" id="thingToDo" placeholder="add a todo">
          <button type="submit" class="btn btn-default" id="add-todo">Add todo</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Completed</h2>

      <ul class="completed-list">
        <li>completed</li>
      </ul>

    </div>
  </div>
</dix>
