<h1>you can do it</h1>

<form id="to-do-form">
  <input type="text" placeholder="Add a task" id="to-do-field" class="form-control">
  <input type="submit" value="do it!" class="form-control" >
</form>

<div class="row">
<div class="col-sm-6 to-do list-holder">
<h2>to do:</h2>
<ul class="to-do-list">
</ul>
<div class="sort-buttons">
  <p>Sort by:</p>
  <button class="sort-by-name btn btn-link">Name</button>
  <button class="sort-by-date btn btn-link">Date</button>
</div>
</div>

<div class="col-sm-6 finished-things list-holder">
<h2>you've already done:</h2>
<ul class="finished-things-list">
</ul>
<div class="sort-buttons">
  <p>Sort by:</p>
  <button class="sort-by-name btn btn-link">Name</button>
  <button class="sort-by-date btn btn-link">Date</button>
</div>
</div>
</div>
