<h1>To-Do List</h1>

<h2>Input what needs to be done here</h2>
<form id='todo-input'>
  <input type="text" value="What has to be done" id='todo-field'></input>
  <input type="submit" value="Create Todo">
</form>

<h2>Todo list</h2>
<ul id='todo-list'>
  <li>todo Placeholder<input type="submit" value="Delete"><input type="submit" value="Completed"></li>
</ul>

<h2>Done list</h2>
<ul id='done-list'>
  <li>done Placeholder<input type="submit" value="Delete"></li>
</ul>
