$primary-color: #008CBA;

.task-panel {
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  // border-radius: 0.5rem;
  padding: 0;
  .task-header {
    background: $primary-color;
    // border-radius: 0.5rem 0.5rem 0 0;
    h3 {
      color: white;
      padding: 0.5rem 0 0.5rem 1rem;
    }
    table {
      width: 100%;
    }
  }
}
